<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Sample Chat Application</title>
  
  <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/bower_components/ladda/dist/ladda-themeless.min.css" rel="stylesheet">
  
  <link href="/css/nanoscroller.css" rel="stylesheet">
  
  <link href="/css/main.css" rel="stylesheet">
  
</head>
<body>

  <div class="container" id="container">
    
  </div>


  <script type='text/template' id="login-template">
          <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center">
              <div class="well">
		<div class="form-group
			    <% if (error)  {%>
			    has-error
			    <% } %>
			    ">
		  <label> Anda harus memasukkan nama Anda terlebih dahulu </label>
		  <input type="text" class="form-control" id="nameText" placeholder="Enter your name">

		  <label class="control-label"> <%= error %> </label>

		  <br>
		  <a id="nameBtn" type="button" class="btn btn-primary btn-lg ladda-button" data-size="l" data-style="zoom-out"><span class="ladda-label">Login</span></a>
		</div>
              </div>
            </div>
	  </div>
  </script>


  <script type='text/template' id="home-template">
    <div class="row">
      <div class="col-md-10">
	<div class="panel panel-default">
	  <div class="panel-heading"> Lobby </div>
	  <div class="panel-body">
	    <div class="nano">
	      <div class="content">
		<div class="list-group" id="chatList"></div>
		</div>
	    </div>

	    <form>
	      <input class="form-control" type="text" id="chatInput" placeholder="Tuliskan pesan Anda, lalu enter"></input>
	    </form>
	  </div>
	</div>
      </div>
      <div class="col-md-2">
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Online Users <span class="badge pull-right" id="userCount"></span></h3>
	  </div>
	  <div class="panel-body">
	    <div class="nano">
	      <div class="content">
		<div class="list-group" id="userList"></div>
		</div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </script>


  <script src="/socket.io/socket.io.js"></script>
  
  <script src="/bower_components/jquery/jquery.min.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

  <!-- Loading Plugin for bootstrap -->
  <script src="/bower_components/ladda/dist/spin.min.js"></script>
  <script src="/bower_components/ladda/dist/ladda.min.js"></script>

  <script src="/bower_components/underscore/underscore-min.js"></script>
  <script src="/bower_components/backbone/backbone-min.js"></script>

  <script src="/js/lib/jquery.nanoscroller.min.js"></script>
  
  <script src="/js/models/main.js"></script>
  <script src="/js/views/main.js"></script>

  <script src="/js/socketclient.js"></script>

  <script src="/js/main.js"></script>
  
</body>
</html>
